@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300;500;700&display=swap');

html {
    font-family: 'MuseoModerno',
        cursive;
    font-size: 10px;
    background: #2d3740;
}

body {
    padding: 1rem;
    padding: 3rem;
    background: #1c262f;
    color: rgb(230, 225, 225);
    width: 90%;
    margin: 0 auto;
}

.logo {
    text-align: center;
}

svg {
    max-width: 80%;
}

form {
    text-align: center;
}

label {
    font-size: 1.8rem;
}

input[type="number"] {
    font-family: inherit;
    background: rgb(230, 225, 225);
    width: 80%;
    margin: 1rem 0;
    padding: 0.8rem;
    outline: none;
    border: none;
}

button {
    font-size: inherit;
    font-size: 1.4rem;
    font-weight: bolder;
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 50%;
    background: #0ad9ff;
    margin: 0.5rem 0 1rem 0;
    outline: none;
    cursor: pointer;
}

ul {
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-around;
}

li {
    border: 1px solid;
    padding: 1rem 1.5rem;
    overflow: hidden;
}

.entriesWrapper {
    padding: 1rem 0;
    font-size: 1.6rem;
}

.entriesWrapper h3 {
    margin: 0;
    text-align: center;
    font-weight: lighter;
    font-size: 1.6rem;
}

.data {
    display: flex;
    flex-direction: column;
}

.data {
    font-size: 1.4rem;
}

.data div {
    background: #141c22;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0;
    padding: 0 1rem;
}

.progress {
    text-align: center;
    padding-bottom: 1rem;
}

.progress h3 {
    font-weight: lighter;
    font-size: 1.4rem;
}

.progressCircleWrapper {
    display: flex;
    justify-content: center;
}

#progressCircle {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: conic-gradient(#70db70 0%, #2d3740 0%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#progressCenter {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background: #1c262f;
}

@media screen and (min-width: 800px) {
    body {
        width: 60%;
    }

    svg {
        max-width: 50%;
    }

    input[type="number"] {
        width: 40%;
    }
}